Replacer.ps1
_settings.ps1
_client_ssd.ps1
controller.ps1
Manager.ps1
test.ps1
in_progress.lck
*.torrent
Aligner.ps1
report_needed.flg
rehashes.db
_masks.ps1
_masks.was
cheater.ps1
starts.db
rehasher.lck